.title {
  /* /* margin-right: 28px; */
  margin-left: 45px;
  font-size: 0.5cm;
  margin-left: -15px;

  color: rgb(54, 177, 85);
}
.page {
  margin-left: 80px;
  text-align: center;
}
.categories {
  background-color: rgb(179, 214, 255);
  margin-right: 405px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 405px;
  padding-left: 180px;
  padding-bottom: 20px;
  padding-top: 20px;
  /* margin-left: -115px; */
  text-align: left;
}
.q {
  text-align: left;
}
